*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:#f4f4f4;

padding-bottom:80px;

}



header{

background:white;

padding:15px;

text-align:center;

box-shadow:0 3px 15px #ccc;

}


.logo{

font-size:45px;

font-weight:bold;

}


.ur{

color:#e4002b;

}


.rp{

color:#e4002b;

font-weight:bold;

letter-spacing:5px;

}



.hero{

height:320px;

background:

linear-gradient(#0008,#0008),

url("https://images.unsplash.com/photo-1568901346375-23c9450c58cd");

background-size:cover;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

text-align:center;

}


.hero button{

background:#e4002b;

border:0;

padding:15px 30px;

border-radius:30px;

color:white;

font-size:18px;

margin-top:20px;

}



#menu,.cart,.info,.location{

padding:20px;

}


h2{

color:#e4002b;

margin-bottom:20px;

}



.products{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:15px;

}



.card{

background:white;

border-radius:20px;

padding:15px;

box-shadow:0 5px 20px #ddd;

animation:show .5s;

}



.card h3{

margin:10px 0;

}


.card p{

color:#e4002b;

font-weight:bold;

}


.card button{

background:#e4002b;

color:white;

border:0;

padding:10px;

border-radius:20px;

width:100%;

}


.cart,.info,.location{

background:white;

margin:20px;

border-radius:20px;

}



input,select{

width:100%;

padding:15px;

margin:10px 0;

border-radius:15px;

border:1px solid #ccc;

}



.cart button{

width:100%;

padding:15px;

background:#e4002b;

color:white;

border:0;

border-radius:30px;

font-size:18px;

}



.pay{

margin-top:20px;

background:#eee;

padding:15px;

border-radius:15px;

}



.bottom{

position:fixed;

bottom:0;

width:100%;

background:white;

display:flex;

justify-content:space-around;

padding:15px;

}


.bottom button{

font-size:25px;

border:0;

background:none;

}



@keyframes show{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

}

}
